=breadcrumb_tag do
  %li
    = link_to t('breadcrumb.roomtypes'), roomtypes_path
  %li.active
    = t('headers.roomtypes.edit', roomtype: @roomtype.name)

.page-header
  %h1= t('headers.roomtypes.edit', roomtype: @roomtype.name)


%table.table.table-hover
  .row
    .col-md-6.text-left
      = link_to roomtypes_path, class: 'btn btn-default' do
        = fa_icon 'arrow-left'
        = t('buttons.back')

= render 'form'
