%h1 Listing points

%table
  %thead
    %tr
      %th Ox
      %th Oy
      %th Priority
      %th Polygon
      %th
      %th
      %th

  %tbody
    - @points.each do |point|
      %tr
        %td= point.ox
        %td= point.oy
        %td= point.priority
        %td= point.polygon
        %td= link_to 'Show', point
        %td= link_to 'Edit', edit_point_path(point)
        %td= link_to 'Destroy', point, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Point', new_point_path
