%h2= t('devise.forms.signup')
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!

  .row
    .col-md-4
      .form-group
        = f.label :last_name
        = f.text_field :last_name, class: 'form-control'
        = f.error_messages_for(:last_name)
    .col-md-4
      .form-group
        = f.label :first_name
        = f.text_field :first_name, class: 'form-control'
        = f.error_messages_for(:first_name)
    .col-md-4
      .form-group
        = f.label :patronymic
        = f.text_field :patronymic, class: 'form-control'
        = f.error_messages_for(:patronymic)
  .row
    .col-md-6
      .form-group
        = f.label :email
        = f.text_field :email, class: 'form-control'
        = f.error_messages_for(:email)
  .row
    .col-md-6
      .form-group
        = f.label :password
        = f.password_field :password, autocomplete: "off", class: 'form-control'
        = f.error_messages_for(:password)
  .row
    .col-md-6
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
        = f.error_messages_for(:password_confirmation)
  .form-actions.bottom20
    = f.submit t('devise.forms.signup'), class: 'btn btn-primary'

= render "devise/shared/links"
