= form_for @building do |f|
  = error_messages_for @building
  .row
    .col-md-4
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
        = f.error_messages_for(:name)
    .col-md-8
      .form-group
        = f.label :address
        = f.text_field :address, class: 'form-control'
        = f.error_messages_for(:address)
  .row
    .col-md-8
      .form-group
        = f.label :description
        = f.text_field :description, class: 'form-control'
        = f.error_messages_for(:description)
    .col-md-4
      .form-group
        = f.label :campus_id
        = f.select :campus_id, options_for_select(Campus.all.map{|x|[x.name, x.id]}, f.object.campus_id),
        {include_blank: false},
        {class: 'form-control'}
        = f.error_messages_for(:campus_id)
  .form-actions.bottom20
    = f.submit nil, class: 'btn btn-primary'
