=breadcrumb_tag do
  %li
    = link_to(t('breadcrumb.campuses'), campuses_url)
  %li
    = link_to(t('headers.campuses.index_with', campus: Campus.all.where(id: @building.campus_id)[0].name),
    Campus.all.where(id: @building.campus_id)[0])
  %li.active
    = t('headers.buildings.edit', building: @building.name)

.page-header
  %h1= t('headers.buildings.edit', building: @building.name)

%table.table.table-hover
  .row
    .col-md-12.text-left
      = link_to @building, class: 'btn btn-default' do
        = fa_icon 'arrow-left'
        = t('buttons.back')

= render 'form'
