=breadcrumb_tag do
  %li
    = link_to(t('breadcrumb.campuses'), campuses_url)
  %li
    = link_to(t('headers.campuses.index_with', campus: Campus.all.where(id: Building.all.where(id: @floor.building_id)[0].campus_id)[0].name),
    Campus.all.where(id: Building.all.where(id: @floor.building_id)[0].campus_id)[0])
  %li
    = link_to(t('headers.buildings.index_with', building: Building.all.where(id: @floor.building_id)[0].name),
    Building.all.where(id: @floor.building_id)[0])
  %li.active
    = t('headers.floors.edit', floor: @floor.name)

.page-header
  %h1= t('headers.floors.edit', floor: @floor.name)

%table.table.table-hover
  .row
    .col-md-12.text-left
      = link_to @floor, class: 'btn btn-default' do
        = fa_icon 'arrow-left'
        = t('buttons.back')

= render 'form'
= render('editor/edit')

- unless @rooms_for_draw.empty?
  - for i in 0 ... @rooms_for_draw.size do
    = content_tag :div, class: "submainPolygonData", data: {points:  @rooms_for_draw[i][:points],
    name:        @rooms_for_draw[i][:name],
    description: @rooms_for_draw[i][:description],
    capacity:    @rooms_for_draw[i][:capacity],
    computers:   @rooms_for_draw[i][:computers],
    roomtype:    @rooms_for_draw[i][:roomtype],
    id:          @rooms_for_draw[i][:id]} do
      = ""
