=breadcrumb_tag do
  %li.active
    = link_to t('breadcrumb.campuses'), campuses_path
  %li.active
    = t('headers.campuses.new')

.page-header
  %h1= t('headers.campuses.new')

%table.table.table-hover
  .row
    .col-md-12.text-left
      = link_to campuses_path, class: 'btn btn-default' do
        = fa_icon 'arrow-left'
        = t('buttons.back')

= render 'form'
